
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

*{
  font-family: 'Handlee', cursive;
  margin: 0;
  padding: 0;
}
/* fix navigation on top ===================== */
header {
  position: fixed;
  top:0;
  left:0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000f7c;
  z-index: 9;
  }

  header h1 {
    display: inline-block;
    font-size: 35px;
    color: #faf0e0;
    line-height: normal; 
    padding: 10px;

   }

   /* links to inside sections ===================== */
  nav ul {
    margin-right: 20px;
    float: right;
    font-size: 20px;
  }
  nav li {
    display: inline-block;
    margin-left: 25px;
  }

a{
  color: darkkhaki;
}

/* top section of the body===================== */
.cool-subtitle {
  padding-top: 40px;
  text-align: center;
}
.cool {
font-size: 28px;
margin-top: 10%;
float: right;
}

/* h1 and ===================== */
.cool, .card { 
background-color: rgb(237, 241, 153);
padding: 10px 15px;
  text-align: center;
  position: absolute;
}

  main h1 { 
     font-size: 35px;
    color: #0b00dc;
  }

 .main h1{ 
  border-right: solid 4px cornflowerblue;
 }

 footer ul {
  float: right;
  font-size: 20px;
  list-style-type: none;
}
footer li {
  display: inline-block;
  margin-left: 25px;
} 

.work1 ,.footer , .about-me{
  display: flex;
}
.work h1, .about-me h1 , .footer h1{
  text-align: end;
  flex: 1;
  padding-right: 20px;
}
.section5 ,.about-me p, .footer ul{
  flex: 3;
  justify-content: space-around;
  padding-left: 20px;
}

.work img ,.card {
  border: solid 5px rgb(237, 241, 153);
}
.project4, .project3,.project2,.project1 {
  display: inline-flex;
  justify-content: space-between; 
}

footer, .work , .about-me {
  margin-top: 10px;
  margin-right: 20px;
}
